body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    width: 540px;
    height: 540px;
    display: grid;
    background-color: white;
}

.flex-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.flex-row-item {
    flex-grow: 1;
}